{{!-- User Likes Page --}}


<header>
 <nav>
    <div class="nav-wrapper  blue lighten-4">
        <a href="https://radiant-eyrie-36675.herokuapp.com/" id="logo-container" class="brand-logo"> <img src="/images/CASUS.png" alt="Logo" class="logoPic"> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/feed">Feed</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/useralikes">User Likes</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/useraevents">User Events</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="#modal2">Create Event</a></li>
        <li class="logout blue lighten-4"><a href="/api/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>


{{!-- Social media login page. "action = '/action_page.php' removed." --}}
<div class="mainContainer">

<a id="likedevents"></a>
<div id ="event">
    <h4>Liked Events</h4>
    {{#each events}}
    <div class="row feedcont">
        <div class = "col s12">
            <form action="/api/userdislikes/{{this.liketitle}}" method="POST">
            <div class="row">
                <div class="col s2 title">
                    <h5>Title:</h5>
                    <h6 id="likeTitle" name="likeTitle">{{this.liketitle}}</h6>
                </div>
                <div class="col s2"></div>
                <div class="col s6 descCol">
                    <h5>Description:</h5>
                    <div id = "desccont">
                        <h6 id="likeDescription" name="likeDescription">{{this.likedesc}}</h6>
                     </div>
                    <h5>Start Date:</h5>
                    <h6 id="likeStartdate" name="likeStartdate">{{this.likestartdate}}</h6>
                    <h5>End Date:</h5>
                    <h6 id="likeEnddate" name="likeEnddate">{{this.likeenddate}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col s2"></div>
                <div class="col s2 locCont">   
                    <h5>Location:</h5>
                    <h6 id="likeLocation" name="likeLocation"> {{this.likelocation}}</h6>
                </div>
                <div class = "col s2"></div>
                <div class = "col s6">
                    <div class="googleMap">
                        <a href="//maps.google.com/?q={{this.likelocation}}" target="_blank" data-ga-label="Full Map Link" itemprop="map">
                        <img src="//maps.googleapis.com/maps/api/staticmap?zoom=13&amp;size=314x300&amp;maptype=roadmap&amp;markers=color:red%7Ccolor:red%7C{{this.likelocation}}&amp;key=AIzaSyBZyI2NwL198_2YM1ZBlZ3FdDb6JcOnUPI&amp;sensor=false" alt="{{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}">
                        <p>Full Map and Directions</p></a>
                    </div>
                </div>
            </div> <!-- end row-->
            <div class = "row">
                <div class = "col s5"></div>
                <div class = "col s2">
                    <div class = "remove">
                        <button class="btn waves-effect waves-light" type="submit">Remove Liked Event</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <br>
    </div>
    <br>
    {{/each}}
</div>

<div class="legal">
    <a class="text text--small text--border-right" href="javascript:;">Terms</a>
    <a class="text text--small text--border-right" href="javascript:;">Privacy</a>
</div>

<div class="develop">
    <a class="text text--small" href="https://github.com/JohnRThurlby/Casus" target="_blank">Developed by
        <b>CASUS</b>
    </a>
</div>

{{!-- Container for the Create Events form. --}}
<div id="modal2" class="createEvent modal" startingTop="10%" dismissible>
  <div class="modal-content">
    <h4>Add Your Own Event</h4>
    <form action="/api/userevents" method="POST">
      <h5>Event Title:</h5>
    <input type="text" name="eventTitle" placeholder="Event Title" maxlength="50" required >
    <br>

    <h5>Event Description:</h5>
    <textarea id="eventDescription" name="eventDescription" maxlength="200"></textarea>
    <br>
    
    <h5>Event Location:</h5>
    <textarea id="eventLocation" name="eventLocation" required></textarea>
    <br>

    <h5>Event Start Date:</h5>
    <input type="datetime-local" name="eventStartdate" required maxlength="20">
    <br>

    <h5>Event End Date:</h5>
    <input type="datetime-local" name="eventEnddate" required maxlength="20">
    <br>
    
    <h5>Event Type:</h5>
     <label>
        <input type="checkbox" name="eventPublic" />
        <span>Public</span>
      </label>
      <label>
        <input type="checkbox" name="eventPrivate" />
        <span>Private</span>
      </label>
    <br>

    <h5>Capacity:</h5>
    <input type="number" min="0" name="eventCapacity" id="eventCapacity" >
    <br>

    <h5>Categories:</h5>
    <div class="input-field col s12">
    <select required name="eventCategory" maxlength="30">
      <option value="" disabled selected>Choose your option</option>
      <option value="Music">Music</option>
      <option value="Visual Arts">Visual Arts</option>
      <option value="Performing Arts">Performing Arts</option>
      <option value="Film">Film</option>
      <option value="Lectures & Books">Lectures and Books</option>
      <option value="Fashion">Fashion</option>
      <option value="Food & Drink">Food and Drink</option>
      <option value="Festivals and Fairs">Festivals and Fairs</option>
      <option value="Charities">Charities</option>
      <option value="Sports and Active Life">Sports and Active Life</option>
      <option value="Nightlife">Nightlife</option>
      <option value="Kids and Family">Kids and Family</option>
      <option value="Other">Other</option>
    </select>
    </div>
    <br>
    {{!-- Tags for the event --}}
    <h5>Tags:</h5>
    <div id="intags">
        <label for="eventTag1">Tag #1:</label>
        <input name="eventTag1" id="eventTag1" type="text" />
   
        <label for="eventTag2">Tag #2:</label>
        <input name="eventTag2" id="eventTag2" type="text" />

        <label for="eventTag3">Tag #3:</label>
        <input name="eventTag3" id="eventTag3" type="text" />  
    </div>
    <br>
    <h5>If you would like to tweet your event, enter your Twitter id:</h5>
    <input placeholder="Twitterid" id="twitterid" type="text" name="eventTwitter" class="validate"></input>


    <button class="btn waves-effect waves-light" type="submit" >Add Event</button>
    </form>
    
  </div> 
</div>
{{!-- Footer Container --}}
<footer>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  (function ($) {
    $(function () {

        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        //$('#modal1').modal('open');

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery); // end of jQuery name space

//Get the select form ready. 
$(document).ready(function(){
    $('select').formSelect();
  });
     
//Date picker get ready. 
 $(document).ready(function(){
    $('.datepicker').datepicker();
  });

</script>


