
{{!-- <script>console.log({{events}})</script> --}}
    {{!-- This is a placeholder for what the dynamically generated events look like. use as template for styling. --}}
    <div class = "row">
        <div class = "col s12">
            <div class = "row">
                <div class = "col s2">
                    <h5>Title:</h5>
                    <div class = "title">
                        {{title}}
                    </div>
                </div>
                <div class = "col s1"></div>
                <div class = "col s3">
                    <h5>Location:</h5>
                    <div class = "location">
                        {{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}
                    </div>
                </div>
                <div class = "col s6">
                    <div class = "left googleMap">
                        <a href="//maps.google.com/?q={{venue_address}}{{city_name}}{{region_abbr}}{{postal_code}}@{{latitude}},{{longitude}}" target="_blank" data-ga-label="Full Map Link" itemprop="map">
                            <img src="//maps.googleapis.com/maps/api/staticmap?zoom=13&amp;size=314x300&amp;maptype=roadmap&amp;markers=color:red%7Ccolor:red%7C{{latitude}},{{longitude}}&amp;key=AIzaSyBZyI2NwL198_2YM1ZBlZ3FdDb6JcOnUPI&amp;sensor=false" alt="{{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}">
                            Full Map and Directions</a>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col s3">
                    <div class = "image">
                        <img src ={{#if image.[0].medium}}{{image.[0].medium.[0].url}}{{/if}}>
                    </div>
                </div>


                <div class = "col s6">
                    <h5>Description:</h5>
                    <div class = "eventDesc">
                        {{description}}
                    </div>
                    <h5>Start Time:</h5>
                    <div class = "startTime">
                        {{start_time}}
                    </div>
                    <h5>End Time:</h5>
                    <div class = "endTime">
                        {{stop_time}}
                    </div>
                    <h5>Event Link:</h5>
                    <div class = "venue url">
                        <a href="{{venue_url}}">{{title}}</a>
                    </div>
                    <br>
                    <div class = "like">
                        <form action="/api/userlikes" method="POST">
                        <button class="btn waves-effect waves-light" type="submit" >Like Event</button>
                        </form>
                    </div>
                    <div class = "remove">
                         <form action="/api/userdislikes" method="POST">
                        <button class="btn waves-effect waves-light" type="submit" >Remove Liked Event</button>
                        </form>
                    </div>
                    <div class = "buy">
                         <form action="/api/userbuy" method="POST">
                        <button class="btn waves-effect waves-light" type="submit" >Buy a ticket</button>
                        </form>
                    </div>
                </div>
                <div class = "col s3"></div>
            </div>
        </div>
    </div>
    {{!--  --}}
