
{{!-- <script>console.log({{events}})</script> --}}
    {{!-- This is a placeholder for what the dynamically generated events look like. use as template for styling. --}}
    <div class = "row">
        <div class = "col s12">
            <form action="/api/userlikes" method="POST">
            <div class = "row">
                <div class = "col s2">
                    <h5>Title:</h5>
                    <input type="hidden" class="title input" id="title" name="likeTitle" value="{{title}}" readonly>
                     {{title}}   
                </div>
                <div class = "col s1"></div>
                <div class = "col s3">
                    <h5>Location:</h5>
                    <input type="hidden" class="location input" id="location" name="likeLocation" value="{{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}" readonly>
                {{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}
                </div>
                <div class = "col s6">
                    <div class="googleMap">
                        <a href="//maps.google.com/?q={{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}" target="_blank" data-ga-label="Full Map Link" itemprop="map">
                        <img src="//maps.googleapis.com/maps/api/staticmap?zoom=13&amp;size=314x300&amp;maptype=roadmap&amp;markers=color:red%7Ccolor:red%7C{{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}&amp;key=AIzaSyBZyI2NwL198_2YM1ZBlZ3FdDb6JcOnUPI&amp;sensor=false" alt="{{venue_address}} {{city_name}} {{region_abbr}} {{postal_code}}">
                        <br>
                        <p>Full Map and Directions</p></a>
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col s3">
                    <div class = "image">
                        <img src ={{#if image.[0].medium}}{{image.[0].medium.[0].url}}{{/if}}>
                    </div>
                </div>


                <div class = "col s6">
                    <h5>Description:</h5>
                    <input type="hidden" class="eventDesc input" id="description" name="likeDescription" value="{{description}}" maxlength="1000" readonly>
                    {{description}}
                    <h5>Start Time:</h5>
                    <input type="text" class="startDate input" id="startdate" name="likeStartdate" value="{{start_time}}" readonly>
                    <h5>End Time:</h5>
                    <input type="text" class="endDate input" id="enddate" name="likeEnddate" value="{{stop_time}}" readonly>
                    <h5>Event Link:</h5>
                    <div class = "venue url">
                        <a href="{{venue_url}}" target="_blank">{{title}}</a>
                    </div>
                    <br>
                   
                </div>
                <div class = "col s3"></div>
            </div>
             <div class = "row">
                    <div class = "col s4"></div>
                    <div class = "col s2">
                    <div class = "like">
                        <!--<form action="/api/userlikes" method="POST"> -->
                        <button class="btn waves-effect waves-light" type="submit" >Like Event</button>
                        <!-- /form -->
                    </div>
                    </div>
                    <div class = "col s2">
                    <div class = "remove">
                        <button class="btn waves-effect waves-light" type="submit" formaction="/api/userdislikes/{{title}}" method="POST">Remove Liked Event</button>
                    </div>
                    </div>
                    </div>
            </form>
        </div>
    </div>
    {{!--  --}}
