

    {{!-- This is a placeholder for what the dynamically generated events look like. use as template for styling. --}}
    <div class = "row">
        <div class = "col s12">



            <div class = "row">
                <div class = "col s12">
                    <div class = "title">
                        {{events.title}}
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col s6">
                    <div class = "image">
                        {{events.image}}
                    </div>
                </div>


                <div class = "col s3">
                    <div class = "eventDesc">
                        {{events.description}}
                    </div>
                    <div class = "location">
                        Orlando, FL
                    </div>
                    <div class = "startTime">
                        {{events.start}}
                    </div>
                    <div class = "like">
                        like button
                    </div>
                    <div class = "remove">
                        remove button
                    </div>
                </div>

                <div class = "col s3">
                    <div class = "googleMap">
                        Google Maps Placeholder
                    </div>
                    <div class = "endTime">
                        {{events.end}}
                    </div>
                </div>
            </div>



        </div>
    </div>
    {{!--  --}}
