
{{!-- <script>console.log({{events}})</script> --}}
    {{!-- This is a placeholder for what the dynamically generated events look like. use as template for styling. --}}
    <div class = "row">
        <div class = "col s12">


            <div class = "row">
                <div class = "col s12">
                    <div class = "title">
                        {{title}}
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col s6">
                    <div class = "image">
                        <img src ={{#if image.[0].medium}}{{image.[0].medium.[0].url}}{{/if}}>
                    </div>
                </div>


                <div class = "col s3">
                    <div class = "eventDesc">
                        {{description}}
                    </div>
                    <div class = "location">
                        Orlando, FL
                    </div>
                    <div class = "startTime">
                        {{start_time}}
                    </div>
                    <div class = "like">
                        <form action="/api/userlikes" method="POST"></form>
                        <button class="btn waves-effect waves-light" type="submit" >Like Event</button>
                        </form>
                    </div>
                    <div class = "remove">
                         <form action="/api/userdislikes" method="POST"></form>
                        <button class="btn waves-effect waves-light" type="submit" >Remove Liked Event</button>
                        </form>
                    </div>
                    <div class = "buy">
                         <form action="/api/userbuy" method="POST"></form>
                        <button class="btn waves-effect waves-light" type="submit" >Buy a ticket</button>
                        </form>
                    </div>
                </div>

                <div class = "col s3">
                    <div class = "googleMap">
                        Google Maps Placeholder
                    </div>
                    <div class = "endTime">
                        {{stop_time}}
                    </div>
                </div>
            </div>



        </div>
    </div>
    {{!--  --}}
